footer.footer
    div.back-to-top
        div.content-asset
            div.back-to-top-block
                a(href="javascript:;")
                    img(src="https://www.dermo-cosmeshop.co.kr/on/demandware.static/-/Sites-PFDC-KR-Library/default/dwa2eb82e2/footer/back-to-top.png")
                a(href="javascript:;")  back to the top 
                
    div.sub-footer-wrapper
        div.footer-info
            div.container
                div.content-asset
                    
        div.footer-nav
            div.container.nav-list
                div.content-asset
                    
            div.container.info-list
                div.content-asset
                    
            div.container.copy-right
                div.content-asset
                    
