meta(charset="UTF-8")
meta(http-equiv="x-ua-compatible" , content="ie=edge")    
meta(name="viewport" , content="width=device-width, initial-scale=1.0")
meta(name="description" , content="")
title 더모코스메샵
link(rel="stylesheet" , href="/assets/css/common.css")
link(rel="stylesheet" , href="/assets/css/content.css")
link(rel="stylesheet" , href="/assets/css/content-async.css")
link(rel="stylesheet" , href="/assets/css/common-async.css")
