doctype5
html
    head
        include ../includes/headdata.pug
    body(data-layer="{'content type':'Mall_Homepage','site':'Korea_W','currencyCode':'KRW'}")
        div#wrapper.home-wrapper
            include ../includes/header.pug        
            div.inner-content-wrapper
                include ../includes/footer.pug
        include ../includes/footer_script.pug
        
        
