<!DOCTYPE html>
<html>
    <head>
        <%- include ../includes/headdata.ejs %>
    </head>
    <body data-layer="{'content type':'Mall_Homepage','site':'Korea_W','currencyCode':'KRW'}">
        <div id="wrapper" class="home-wrapper">
            <%- include ../includes/header.ejs %>
            <div class="inner-content-wrapper">
                <%- include ../includes/footer.ejs %>
            </div>
        </div>
        <%- include ../includes/footer_script.ejs %>
    </body>
</html>
